<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ark.center.order.dao.mapper.CartItemMapper">

    <update id="updateCartItemQuantity">
        <![CDATA[
        update od_cart_item
        set quantity = quantity + #{quantity}
        where quantity <= 99
          and id = #{cartItemId}
        ]]>
    </update>
</mapper>
